<div class='d-table-cell cart_item_subscription_header text-uppercase'><%= Spree.t(:recurring_delivery_interval) %></div>
<div class='d-table-cell cart_item_subscription_header text-uppercase'><%= Spree.t(:total_deliveries) %></div>
