<% subscription = @order.subscriptions.find_by(variant: variant) %>
<td class='cart-item-subscription text-center'>
  <% if subscription %>
      <%= subscription.frequency.title %>
  <% else %>
    Not Subscribed
  <% end %>
</td>
<td class="text-center">
  <% if subscription %>
    <%= item_form.number_field :delivery_number, class: "form-control", min: 1, value: subscription.delivery_number %>
  <% else %>
    None
  <% end %>
</td>
