<% subscription = @order.subscriptions.find_by(variant: variant) %>
<td class='cart-item-subscription text-center'>
  <% if subscription %>
      <%= subscription.frequency.title %>
  <% else %>
    Not Subscribed
  <% end %>
</td>
